<ul class="social-icons">
    <li class="icon"><a href="http://youtube.com/newagecreators" target="_blank">{% include svg/logo-yt.svg %}</a></li>
    <li class="icon"><a href="http://twitter.com/newagecreators" target="_blank">{% include svg/logo-t.svg %}</a></li>
    <li class="icon"><a href="http://facebook.com/newagecreators" target="_blank">{% include svg/logo-fb.svg %}</a></li>
    <li class="icon"><a href="http://instagram.com/newagecreators" target="_blank">{% include svg/logo-ig.svg %}</a></li>
    <!--li class="icon"><a href="http://snapchat.com/newagecreators" target="_blank">{% include svg/logo-sc.svg %}</a></li-->
    
</ul>