// colors
$primary:   #CEBD0F;
$accent:    #BAB9AC;

$dark:      #181B1B;
$light:     #E3E2E3;

$mon:       #51968A;
$tue:       #C0BA69;
$wed:       #BC7C5C;
$thu:       #93B759;
$fri:       #A65866;